body {
    background: pink;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}
ul {
    list-style-type: none;
